/*Start Default Theme*/
/*active link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.option-box .color-option ul li,
.option-box .gear-check{
    
    background-color:#080;
}
.navbar-inverse .navbar-brand span,
.testimonial span,
.doctor h1,
.footer h3,
.footer .copyright span{
    color:#080;
}
/*dropdown menu*/
.dropdown-menu{
    border-top:3px solid #080;
}
.testimonial .carousel-indicators li.active,
.option-box .color-option{
    border:3px solid #080;
}
/*End Default Theme*/